
.space-evenly{ 
  justify-content: space-evenly; 
}

.justify-flex-start{ 
  justify-content: flex-start;
}

.cube-container{
	display: flex;
	position: relative;
 	width: 100%;
 	margin-left: 120px
}

.cube-container-vert{
	display: flex;
	flex-direction: column;
	position: relative;
 	height: 100%;
 	max-width: 120px;
 	min-width: 120px;
}

.cube{
    width: 100px;
    background: darkgreen;
    border: 2px solid black;
	border-radius: 3px;
	padding: 5px;
	margin: 2px;
    font-size: 12px;	
	font-weight: bold;
    text-align: center;
    color: white;
}

.cube-vert{

    height: 75px;
}

.cube-horiz{

    height: 100px;
}

/* Grid Wrapper */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout */

.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* ------------ */

.cube-fp{
    position:absolute;
    background-color: white;
    border: 2px solid white;
    width:100px;
    height: 100px;
}

.cube-fp-1-1{
    top: 100px;
    left: 100px;
}

.cube-fp-1-2{
    top: 100px;
    left: 210px;
}

.cube-fp-1-3{
    top: 100px;
    left: 320px;
}

.cube-fp-1-4{
    top: 100px;
    left: 430px;
}

.cube-fp-1-5{
    top: 100px;
    left: 540px;
}

.cube-fp-1-6{
    top: 100px;
    left: 650px;
}

.cube-fp-1-7{
    top: 100px;
    left: 760px;
}

.cube-fp-1-8{
    top: 100px;
    left: 870px;
}

.cube-fp-1-9{
    top: 100px;
    left: 980px;
}


